body {
    overflow: hidden;
  }
  /*
    overflow: hidden takes out the scroll bars
  */
  
  #canvas1{
      position: absolute;
      /*border: 20px solid black;*/
      background: rgb(17, 151, 212);
      top: 0;
      left: 0;
      width: 100%;
      height:100%;
  
  }